#card-names-input {
    width: 200px;
    margin-left: 20px;
}

/* Card Structure */

body {
    font-family: "Comic Sans MS", sans-serif;
}

#card {
    width: 744px;
    height: 1039px;
    margin: 20px;
    border: 1px black solid;
    background-size: contain;
    background-repeat: no-repeat;
}

#card-overlay {
    width: 672px;
    height: 967px;
    padding: 36px;
}
/* Card Art */

#card-art {
    position: absolute;
    top: 87px;
    left: 64px;
    height: 508px;
    width: 672px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(60%);
}


/* Card Overlay */

.overlay {
    position: absolute;
    color: #666666;
}

#card-ink {
    position: relative;
    width: 56px;
    left: 8px;
    text-align: center;
    font-size: 52px;
}

/* Card Info Box */

#card-info-box {
    position: absolute;
    width: 648px;
    height: 82px;
    top: 596px;
    padding: 12px;
}

#card-title {
    font-size: 44px;
    width: 480px;
    padding: 0;
    margin: 0;
    line-height: 44px;
    text-transform: uppercase;
}

#card-subtitle {
    font-size: 24px;
    margin-top: 44px;
    width: 480px;
    text-transform: uppercase;
}

#card-strength, #card-willpower {
    font-size: 44px;
}

#card-strength {
    top: 16px;
    left: 510px;
    width: 68px;
    text-align: center;
}

#card-willpower {
    top: 16px;
    left: 597px;
    text-align: center;
    width: 60px;
}

/* Card Info Subbox */

#card-info-subbox {
    position: absolute;
    width: 648px;
    height: 34px;
    top: 701px;
    padding: 0 12px;
}

#card-keywords {
    font-size: 22px;
    width: 648px;
    text-align: center;
}

.ink-color {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 4px;
    background-color: white;
}

#card-ink-two {
    margin-left: 32px;
}

/* Card Info Main */

#card-info-main {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 648px;
    height: 248px;
    top: 737px;
    padding: 12px;
}

#card-text {
    position: relative;
    flex-basis: 90%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 24px;
}

#card-text p {
    margin: 8px 0;
}

#card-text p img {
    height: 24px;
}

#card-lore {
    position: relative;
    flex-basis: 8%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.lore-symbol {
    background-image: url("../assets/Lore.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 56px;
    margin: 2px 4px;
    filter: opacity(60%);
}

/* Card Footer */

#card-info-footer {
    position: absolute;
    width: 648px;
    height: 80px;
    top: 1006px;
}

#card-rarity {
    width: 648px;
    text-align: center;
    margin-top: 12px;
}
#card-rarity img {
    width: 36px;
    filter: opacity(60%);
}

#card-artist {
    font-size: 18px;
    width: 200px;
    top: 6px;
    left: 88px;
}

#card-set-info {
    font-size: 18px;
    width: 200px;
    top: 28px;
    left: 0;
}